<ul class='title-bar'>
  <li class='tab-title' routerLink='tab_a' routerLinkActive="active-link">
    <a>Tab A</a>
  </li>
  <li class='tab-title' [routerLink]="['/tab_b','testB']" routerLinkActive="active-link">
    <a>Tab B</a>
  </li>
  <li class='tab-title' [routerLink]="['/tab_b','testC']" routerLinkActive="active-link">
    <a>Tab C</a>
  </li>
  <li class='tab-title' [routerLink]="['/tab_b','testD']" routerLinkActive="active-link">
    <a>Tab D</a>
  </li>
</ul>


<router-outlet></router-outlet>

