.title-bar{
    width:100%;
    border-bottom: 2px solid #999;
}
.tab-title{
    cursor: pointer; 
    display:inline-block;
    height:32px;
    background-color: goldenrod;
    font-size: 1em;
    margin-right: 15px;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: top;
}
.tab-title::before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 5px solid goldenrod;
    border-bottom: 16px solid goldenrod;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-top: 16px solid rgba(0, 0, 0, 0);
    transform: translateX(-10px);
}
.tab-title::after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid goldenrod;
    border-bottom: 16px solid goldenrod;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-top: 16px solid rgba(0, 0, 0, 0);
    transform: translateX(10px);
}

.tab-title.active-link{
    background-color: #acda20;
}
.tab-title.active-link::before{
    border-right: 5px solid #acda20;
    border-bottom: 16px solid #acda20;
}
.tab-title.active-link::after{
    border-left: 5px solid #acda20;
    border-bottom: 16px solid #acda20;
}

.tab-title a{
    vertical-align: top;
    line-height: 32px;
}
